node_modules
.next
.git
.agents
*.log
docker
.env*
!package.json
!package-lock.json
!prisma
!public
!src
!next.config.ts
!tailwind.config.ts
!postcss.config.mjs
!tsconfig.json
deploy.sh
update.sh
install.sh
README.md
DEPLOYMENT.md
ADMIN_GUIDE.md
SECURITY.md
